@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notification {
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  font-size: 1.8rem;
  bottom: 0;
  left: 0;
  text-align: center;
  /*    slide in */
  animation: slide-in-from-left 0.5s ease-in-out;
}

.notification.success {
  background-color: #4caf50;
}
.notification.error {
  background-color: #f44336;
}
.notification.warning {
  background-color: #ff9800;
}
.notification.info {
  background-color: #2196f3;
}

